<!-- This is the secret index -->
<div class="container">
  <h1>All the juicy Secrets lie here</h1>
  <a href="/view/<%= @user.id %>" class="btn btn-default">Head back to safety</a>

  <table>
    <% @secrets.each do |secret| %>
    <tr>
      <td><p><%= secret.content %></p></td>
      <td>
        <%= secret.likes.count %>
      </td>

      <td>
        <% if @user_likes.exists?(:secret_id => secret.id) == true %>
          <form action="/unlike/<%= secret.id %>" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="submit" value="Unlike" class="btn btn-default">
          </form>
        <% end %>
        <% if @user_likes.exists?(:secret_id => secret.id) == false %>
          <form action="/like/<%= secret.id %>" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="submit" value="Like" class="btn btn-default">
          </form>
        <% end %>
      </td>
      <% if secret.user == @user %>
      <td>
        <form action="/bury_secret/<%= secret.id %>" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="submit" value="Bury Secret" class="btn btn-default">
        </form>
      </td>
      <% end %>
    </tr>
    <% end %>
  </table>
</div>
